{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "transform": {
    "node_modules/some-library-to-transform/.+\\.jsx?$": "babel-jest"
  }
}
